<div class="animated fadeIn">    
    <div class="d-flex justify-content-between">
        <div>
            <p class="fw-600">Pedido Mandado / Express #{{orden.idpedido_mandado}} / {{ orden.pedido_json.vehiculo.descripcion }}</p>           

            <!-- repartidor -->
            <p><i class="fa fa-motorcycle" aria-hidden="true"></i> Repartidor: {{ nomRepartidor || 'No asignado' }}</p>            
            <div>                                        
                <p *ngIf="nomRepartidor"><i class="fa fa-phone" aria-hidden="true"></i> {{ orden.telefono_repartidor }} </p>                
            </div>
        </div>
        <div>
            <!-- boton cerrar -->
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-secondary" mat-dialog-close>
                        <i class="fa fa-close"></i>                
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="showListRepartidores" class="w-100">
        <!-- asignar repartidor manualmente -->
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <app-comp-select-repartidor (repartidorSelected)="asignarManualA($event)" [codigo_postal]="orde_codigo_postal"  [label_select]="label_comp_repartidor"></app-comp-select-repartidor>
            <div>
                <ng-container *ngIf="chekAsignacionManual; else elseTemplate">
                    <i class="text-success fa fa-check fa-2x"></i>
                </ng-container>
                <ng-template #elseTemplate>                    
                    <button class="btn btn-warning" *ngIf="repartidor_selected_manual" (click)="confirmarAsignacionManual()">Confirmar Asignacion</button>
                </ng-template>
                
            </div>
        </div>
    </div>
    <hr>

    <div class="p-3">
        <div class="row">
            <div class="fs-13 w-100">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="fs-13 fw-600 text-secondary">Cliente: </span>
                        <p><i class="fa fa-user"></i>  {{orden.nom_cliente}}</p>
                        <p><i class="fa fa-phone"></i> {{ orden.pedido_json.telefono }}</p>
                        <p class="fw-600 badge" [ngClass]="{'badge-primary': orden.pedido_json.metodoPago.idtipo_pago === 3, 'badge-info': orden.pedido_json.metodoPago.idtipo_pago === 2, 'badge-secondary': orden.pedido_json.metodoPago.idtipo_pago === 1}">
                            <span class="fs-15">{{orden.pedido_json.metodoPago.descripcion | titlecase }} </span>
                        </p>       
                    </div>
                    <div>
                        <p class="fs-18 fw-600 text-right"><span class="badge" [ngClass]="{'badge-warning': orden.pedido_json.vehiculo.idtipo_vehiculo === 0, 'badge-info': orden.pedido_json.vehiculo.idtipo_vehiculo === 1}">{{ orden.pedido_json.vehiculo.descripcion }}</span> </p>
                    </div>
                </div>
                <hr>

                <p class="fw-600 text-secondary">Pedido: </p>
                <ng-container *ngIf="orden.ispedido_express === 0; else elseTemplate">                    
                    <p>{{ orden.pedido_json.que_compramos }}</p>
                </ng-container>
                <ng-template #elseTemplate>
                    <p>{{ orden.pedido_json.descripcion_paquete }}</p>
                </ng-template>
                <hr>
                <p class="fw-600 text-secondary">Donde lo recogemos?</p>
                <ng-container *ngIf="orden.ispedido_express === 0; else elseTemplate">                    
                    <p>{{ orden.pedido_json.donde_compramos }}</p>
                </ng-container>
                <ng-template #elseTemplate>
                    <p>{{ orden.pedido_json.direccionA.direccion }}</p>
                    <p class="fs-12 text-secondary">{{ orden.pedido_json.direccionA.referencia }}</p>
                </ng-template>

                <hr>
                <p class="fw-600 text-secondary">A donde lo llevamos?</p>
                <ng-container *ngIf="orden.ispedido_express === 0; else elseTemplate">                    
                    <p>{{ orden.pedido_json.direccionCliente.direccion }}</p>
                    <p>{{ orden.pedido_json.direccionCliente.referencia }}</p>
                </ng-container>
                <ng-template #elseTemplate>
                    <p>{{ orden.pedido_json.direccionB.direccion }}</p>
                    <p class="fs-12 text-secondary">{{ orden.pedido_json.direccionB.referencia }}</p>
                </ng-template>
                
                <hr>
                <p>Distancia: {{ orden.pedido_json.distancia_km }} km</p>
                <hr>

                <p class="fs-18 fw-600"> Costo de entrega: S/. {{ orden.importe | number: '.2' }}</p>                
                
            </div>        

            
        </div>
    </div>
    
</div>